<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>header</title>
        <link rel="stylesheet" href="css/header.css">
        <link rel="stylesheet" href="css/style.css">
        <!-- アイコン用 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
        <header>
            <img src="image/oshare-bgimage.jpg" alt="トップイメージ">
            <!-- <img src="image/atarayo.jpg" alt="トップイメージ"> -->
            <div class="top-title">
                bell offical site
            </div>
            <div class="profile-icon">
                <!-- <img src="image/mypage-icon.jpg" alt="アイコン"> -->
                <img src="image/icon.jpg" alt="アイコン">
            </div>
            
            <div class="social-icons">
                <a class="youtube" href="https://www.youtube.com/@bell.8810" target="_blank"><i class="fab fa-youtube"></i></a>
                <a class="twitter" href="https://twitter.com/8810bell" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="nico" href="https://www.nicovideo.jp/user/129301171?rf=nvpc&rp=watch&ra=video_information" target="_blank"><img src="image/202302_niconicosymbol.png" alt="ニコニコアイコン" class="tv-icon"></a>
            </div>
            <ol class="breadlist">
                <li class="current">TOP</li>
            </ol>
        </header>
        <nav></nav>
        <main></main>
        <aside></aside>
        <footer></footer>
    </body>
</html>
